@media (max-width: 576px){
    .nav-bar > .container > ul{
        display: none;
    }
    .nav-bar > .container > button{
        display: none;
    }
    .nav-bar > .container > .open-toggle{
        display: block;
        cursor: pointer;
      }

      /* banner-css */
      .home-wrapper > .container {
        max-width: 85%;
        margin: auto;
      }
      .home-wrapper > .container > h1{
        font-size: 40px;
      }
      .home-banner-img{
        width: 100%;
        height: 100%;
      }

      /* company-css */
      .brand-wrapper{
        margin-top: 50px;

      }
      .brand-wrapper > .container > .brand-wrapper__border-1, .brand-wrapper__border-2{
        display: none;
      }
      .brand-wrapper > .container > .brand-img__container{
        display: flex;
        width: 100%;
        gap: 30px;
      }
      .brand-wrapper > .container > .brand-img__container > div > img{
        width: 100%;
        height: 100%;
      }
      /* about-css */
      .about-wraper{
        margin-top: 0px;
        height: 100vh;
      }
      .about-wraper > .container{
        flex-direction: column;
        gap: 0px;
        justify-content: space-between;
        align-items: center;
      }
      .about-wraper > .container > .about-left > img {
        width: 100%;
        height: 100%;
      }
      .about-wraper > .container > .about-right{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
      .about-wraper > .container > .about-right > h2{
        text-align: center;
        width: 100%;
        font-size: 34px;
      }
      .about-wraper > .container > .about-right > p{
        width: 100%;
        text-align: center;
      }
      /* service-css */
      .service-wrapper {
        width: 100%;
      }
      .service-wrapper > .container{
        width: 100%;
        max-width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .service-wrapper > h2{
        font-size: 34px;
      }

      /* why-choose-us */
      .why-us__wrapper{
        width: 100%;
        height: 100vh;
        margin-bottom: 50px;
      }
      .why-us__wrapper > .why-us__container{
        width: 100%;
        height: 100%;
        gap: 0px;
        flex-direction: column;
      }
      .why-us__wrapper > .why-us__container > .why-us_bg__shape{
        top: 50%;
      }
      .why-us__wrapper > .why-us__container > .why-us__left{
        width: 100%;
        max-width: 90%;
      }
      .why-us__wrapper > .why-us__container > .why-us__right {
        max-width: 90%;        
      }
      .why-us__wrapper > .why-us__container > .why-us__right > .why-us__img > img {
        width: 100%;
      }
      /* achievement-css-here */
      .achievment-wrapper{
        width: 100%;
        height: 100vh;
        padding: 50px 0px;
      }
      .achievment-wrapper > .achievment-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 30px;
      }
      .achievment-wrapper > .achievment-container > .achievment-card{
        width: 100%;
        max-width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #383737;
        padding: 60px;
        border-radius: 12px;
        
      }
      .achievment-wrapper > .achievment-container > .achievment-card:last-child{
        border-right: 1px solid #383737;
      }
      /* pricing-css */
      .pricing-wrapper{
        width: 100%;
        height: auto;
        padding: 50px 0px;
      }
      .pricing-wrapper > .pricing-container{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
      }
      .pricing-wrapper > .pricing-container > .pricing-card{
        max-width: 100%;
      }
}